[2020-05-18 14:46] pralhad88 opened #3 "Google Authentication"
When user login using google login button at that time call to **kamal-bashin** API for user authentication.

### POST /students/google/login

- [ ]  When user login using google login button at  that time set id_token to back-end and get JWT token from server.  Set that token in local storage for user authentication

- [ ] once you set token at local storage get the token from local storage and s

[2020-05-24 03:15] Swatinavgurukul commented on #4
We will call an API to get all students details, after getting the response, we have to make card base UI to render each student details. And we have to put a condition that Admin and super admin can edit student data. The user can see all students data and update their profile.

[2020-05-24 05:50] abhishekgupta92 commented on #4
Please use lists feature to break this into sub tasks

On Sun, May 24, 2020, 8:46 AM Swatinavgurukul <notifications@github.com>
wrote:

[2020-05-24 17:51] Swatinavgurukul commented on #4
1. We will call an API to get all the student's details.
2. After getting the response, we have to make card base UI to render each student details.
3. we have to put a condition that Admin and super admin can edit student data.
4. The user can see all student's data and update their profile.

[2020-06-06 07:02] Swatinavgurukul opened #10 "delete student details"
student can delete only there details but the admin and super Admin can delete each student's details.

[2020-07-18 15:16] abhishekgupta92 opened #23 "Email should be pre-filled and not editable"
![image](https://user-images.githubusercontent.com/1681009/87855717-ba0cb280-c937-11ea-8b47-83d2fe8b4075.png)

Disable the email field, and fill email as per the login data.

[2020-07-18 15:26] abhishekgupta92 opened #24 "API isn't working on live server"
APIs aren't working on the main server. Check the deployment on kadam.navgurukul.org

[2020-11-06 21:55] vikotar opened #2 "Create Readme to explain the code structure"

[2020-11-18 22:39] vikotar opened #4 "Add eslint config or probably a workflow to check the error before merging the pr"

[2020-11-18 22:39] vikotar opened #5 "Add netlify for deploy preview"

[2020-11-18 22:41] vikotar opened #6 "Add Code Climate or similar tool to take care of basic code quality"
Also, ask Abhishek about using code climate. Because they provide it free. The only limitation is that it won't allow more than 5 users.

[2020-11-23 14:51] vikotar opened #8 "Move page access management to routing. [i.e create class]"

[2020-11-25 10:04] vikotar opened #9 "Add testing"
Reference link |> https://www.sitepoint.com/puppeteer-end-to-end-testing/

[2020-11-26 12:34] vikotar opened #12 "Feature: Course list on '/course' route"
- Home page should be redirected to `/course` path

[2020-11-26 12:43] vikotar opened #13 "Feature: Course content"
- Show the exercises
- Show the description(content) for exercises
- Link to GitHub code

[2020-11-27 13:21] vikotar opened #16 "Make all pages responsive for mobile"

[2020-11-27 14:14] #12 closed, assigned to vikotar

[2020-11-27 14:20] #5 closed, assigned to nobody

[2020-12-01 12:05] #13 closed, assigned to vikotar

[2020-12-02 11:11] #16 closed, assigned to vikotar

[2020-12-08 17:47] pysaquib opened #28 "Handle login error"
When there's any response code apart from 200, the login should show an error message on the UI [](url)
![Screenshot from 2020-12-08 23-12-13](https://user-images.githubusercontent.com/44463854/101521226-8a744a80-39ab-11eb-9273-9a1f8f45acc9.png)

[2020-12-09 11:39] vikotar opened #29 "Add readme section on our styling guideline."

[2020-12-09 15:19] vikotar commented on #4
Should we close it @pysaquib ?

[2020-12-09 16:42] #2 closed, assigned to vikotar

[2020-12-09 19:12] pysaquib opened #30 "Show appropriate message when there's no class scheduled"
![Screenshot from 2020-12-10 00-41-58](https://user-images.githubusercontent.com/44463854/101675985-89f9b380-3a80-11eb-9388-9835f81de6a7.png)

[2020-12-09 19:13] #4 closed, assigned to pysaquib

[2020-12-11 08:01] pysaquib opened #32 "Support navigation to courses with courseSlug"
https://merakilearn.org/course/{courseId} is the curent course link. Also support **/course/{courseSlug}**

Use the course slug metadata from the courses response to navigate to the corresponding courses along with courseId

[2020-12-11 08:03] pysaquib opened #33 "Handle exercises of a course in separate routes"
Separate route for exercise /course/{courseId}/exercise/{exerciseId} for the need of sharing link of particular exercises

Should work for all combination:-
a) /course/{courseSlug}/exercise/{exerciseSlug},
b) /course/{courseSlug}/exercise/{exerciseId},
c) /course/{courseId}/exercise/{exerciseSlug),
d) /course/{courseId}/exercise/{exerciseId),

[2020-12-11 08:09] pysaquib opened #34 "Add search bar in courses"
Add searching functionality in courses. Keywords should return courses containing them.

[2020-12-11 08:12] pysaquib opened #35 "Display course title"
Display course title on course content page as heading

[2020-12-14 08:36] komalahire commented on #35
I have completed it.

[2020-12-14 09:06] pysaquib opened #36 "Support display of currently unsupported markdown token type"
List of markdown tokens not yet supported in the UI:-
1. Tables - One of the exercises with a table type data can be found : [here](http://dev-api.merakilearn.org/courses/127/exercises)
[code]

[2020-12-14 09:09] komalahire commented on #30
I have done this.

[2020-12-14 11:30] pysaquib opened #37 "Courses screen responsiveness"
Make the size of the course cards smaller and display two courses in a row on mobile/tablet view

![Screenshot_20201214-165609_Chrome](https://user-images.githubusercontent.com/44463854/102076440-b2d9ca00-3e2d-11eb-916e-fbfe4659f22e.jpg)

[2020-12-14 15:41] pysaquib opened #38 "Disable keyboard input in input fields with drop down options"
Fields like category_id in create class form should not allow users to put in their own values. Users should be compelled to choose one from the options available.

[2020-12-17 07:18] #30 closed, assigned to komalahire

[2020-12-17 07:18] #35 closed, assigned to komalahire

[2020-12-19 10:19] tarun-dugar opened #44 "Add to contributors"
Hi!

Please add me (tarun-dugar) to the contributors. Thanks!

[2020-12-20 11:31] tarun-dugar opened #47 "Add linting + formatting"
Add linting with some rules, code should format itself on save

[2020-12-20 11:34] tarun-dugar opened #48 "Add CSS-in-JS support"
- what solution to use (css modules, styled-components, emotion)
- bundling of styles
- provision to add global styles

[2020-12-21 11:55] #8 closed, assigned to vikotar

[2020-12-24 14:29] abhishekgupta92 opened #51 "Write a cron script to empty cron after every 3 days on main server"
Write a cron script to empty cron after every 3 days on main server

/logs/
/home/synapse/matrix-dimension/logs/

[2020-12-24 14:29] abhishekgupta92 opened #52 "Disable matrix logs on prod server"
Disable matrix logs on prod server

[2020-12-29 15:21] vikotar opened #55 "Fix loading issue with too many card logos on course page"

[2020-12-30 09:02] #44 closed, assigned to pysaquib

[2020-12-30 09:09] #51 closed, assigned to pysaquib

[2020-12-30 09:10] #52 closed, assigned to pysaquib

[2020-12-30 09:22] #34 closed, assigned to komalahire

[2021-01-04 12:05] komalahire opened #58 "Shift this courses cards in the center."
![Screenshot from 2021-01-02 18-12-10](https://user-images.githubusercontent.com/43803182/103533474-3037ae00-4eb3-11eb-9bd5-789ecf2cf4de.png)

[2021-01-04 16:46] komalahire opened #59 "Create the Sidebar in Navigation."
Move the classes and courses button inside the side menu bar.

[2021-01-26 07:39] tarun-dugar opened #62 "Remove moment in favour of date-fns"
Moment.js is on its way to deprecation. Let's replace it with date-fns.

[2021-01-26 11:41] komalahire opened #63 "Move the arrows to the top of the exercise page."
1. on the exercise page Right and left of the title add arrows and
give position fixed.

2. On the mobile screen, we have to do a scrolling page then we changing the exercise.  if we should add arrows up a fixed position on the exercise page. it will look better.

[2021-02-03 07:51] komalahire commented on #58
Done!

[2021-02-03 07:51] #58 closed, assigned to komalahire

[2021-02-03 09:12] komalahire commented on #38
done!

[2021-02-03 09:12] #38 closed, assigned to komalahire

[2021-04-13 05:28] abhishekgupta92 opened #67 "Classes Dropdown"
![image](https://user-images.githubusercontent.com/1681009/114501129-feb74700-9c46-11eb-9d83-9c8dbbac25b4.png)

When I click on classes, there should be a dropdown with the courses list. When the form is submitted, only the id should be submitted to the backend.

[2021-04-21 05:30] pysaquib opened #69 "Close form and show success message after a successful class creation"

[2021-04-21 06:06] pysaquib opened #70 "Clicking on tab doesn't change the focus in class create form"

[2021-04-21 16:16] komalahire commented on #67
Done

[2021-04-21 16:16] #67 closed, assigned to nobody

[2021-05-01 07:18] komalahire commented on #69
Done

[2021-05-01 07:18] #69 closed, assigned to Poonam-Singh-Bagh

[2021-05-01 07:20] #70 closed, assigned to komalahire

[2021-05-04 11:33] nilshah98 commented on #48
Hi @tarun-dugar I was trying to get to pace with this issue.
But the current styles are too heavy and everything is written from scratch, so porting will require a lot of effort.
I wanted to ask do the benefits of this, outweigh the effort we are putting in?

_I am new to CSS-in-JS, so I might be missing something._

Thoughts ?

[2021-05-04 12:28] nilshah98 commented on #62
Hi @tarun-dugar, @pysaquib can you guys confirm the date format which we are using ?

As far as I can guess by looking at the frontend code, we are using date and time from HTML forms and the follow the below formats -
Date - `YYYY-MM-DD`
Time - `HH:mm`

As for the backend, we are sending it to them as - `YYYY-MM-DDTHH:mm:ss` and adding `Z` at the end
And we are using `ISOString` in backend so rem

[2021-05-07 09:41] pysaquib opened #75 "Add a caution modal before class delete."
There should be a warning modal that says 'Are you sure you want to delete this class?' and only upon confirmation, the class should be deleted.

[2021-05-12 14:54] pysaquib opened #80 "Handle network call errors in toasts."
Show appropriate error toasts if there's an error in network calls.

[2021-05-12 14:56] komalahire commented on #75
Done

[2021-05-12 14:56] #75 closed, assigned to komalng, komalahire, Poonam-Singh-Bagh

[2021-05-24 13:07] nilshah98 opened #89 "Change <a> tag to <Link> components"
**Context:**
`a` tags are used to navigate between HTML documents, but they lead to a complete page refresh.
`Link` tag, a component of `react-router-dom` is used to navigate to different page in a react app, more programatically without refreshing the whole page.
Major benefits include, that the state is persisted, since there is no page refresh. Aside from the benefits with such as page renderin

[2021-05-24 13:11] nilshah98 commented on #89
Also in `CourseCard` component and `ContinueExercise` component.

[2021-07-20 14:15] komalahire opened #113 "Change the type of markdown parser according to response"
1. Code examples highlighted of python courses are not showing except for some courses,  according to my understanding, the response from the backend of markdown has been changed.
Before we were getting the type of languages from markdown, but now everything is coming inside the markdown, there is no specific key for language.

2. Some courses are not responsive in phone view and in desktop view,

[2021-07-20 14:27] nilshah98 commented on #113
Hi Komal,

Aap mujhe ye issue replicate karne ke liye steps bata sakte ho ?

1. Which URL does highlighting not work for ?
2. What steps should I follow to replicate this ? Phone pe koi link kholu, fir kuch click karu, kaise ?

[2021-07-20 16:06] nilshah98 opened #114 "Issues while parsing HTML with Mardown"
**Context :**
- Currently in our API response for course content, we receive it as a mixture of HTML and Markdown.
- We parse the same and display it, example - [Python Loops](https://www.merakilearn.org/course/83/exercise/3372)

**Issue :**
- At times there is a mixture of HTML and Markdown, and depending on what is parsed first, it might have various outputs.
- Owing to this, we have an issue fo

[2021-07-20 16:07] nilshah98 commented on #114
CC @abhishekgupta92 @pysaquib @komalahire

[2021-07-20 16:16] abhishekgupta92 commented on #114
@pysaquib can you discuss with @nilshah98 on how feasible it is to update the response being mindful of the constraints pointed in the thread.

[2021-07-21 11:16] nilshah98 commented on #114
I can see that the data is pulled from here - https://github.com/navgurukul/newton/blob/master/instructions-to-python-facilitators/python-class-structure.md
But, I do not see the `\n` in content there, or the extra HTML signing.

[2021-07-24 17:01] nilshah98 commented on #114
- Fixed by updating the API response and removing the new line characters `\n`

[2021-07-24 17:01] #114 closed, assigned to nobody

[2021-07-24 18:29] nilshah98 commented on #47
- I think these changes are implemented.
- Should we close this ?

@tarun-dugar

[2021-07-27 09:24] pysaquib opened #119 "Display the name of the course as the main header on each exercise"
![Screenshot_select-area_20210727145212](https://user-images.githubusercontent.com/44463854/127130183-b4cf78ac-576a-4709-a5ea-5651293a2b9d.png)

[2021-07-27 09:37] pysaquib opened #120 "Child exercises should be displayed as a part of the parent exercise."
To understand if an exercise is a child exercise or not, look for it's `parent_exercise_id` key. If it's not null, it's a child exercise. `parent_exercise_id` in child exercises are foreign key reference to the `id` of the parent exercises.
![Screenshot_select-area_20210727145814](https://user-images.githubusercontent.com/44463854/127131363-80dac1a2-2434-4a64-b2a6-ce7a449bade9.png)
This is how a p

[2021-07-27 12:11] komalahire opened #121 "To not display all answers while clicking 1 specific solution button in courses"
https://user-images.githubusercontent.com/43803182/127151210-558aad1d-a1aa-4932-8661-617554485a9c.mp4

@nilshah98   In all courses, when we click on 'show solution' for 1 question, answers are getting displayed for all questions everywhere in the course.

[2021-07-27 15:23] nilshah98 commented on #121
Hi,
The issue is, that the same component is being used for different exercises, so it is never really unmounted, and hence the state is never reset.
I will try to push a solution tomorrow.

Also, please try to use the templates when creating issues.

[2021-07-28 06:02] #121 closed, assigned to nobody

[2021-07-28 14:15] nilshah98 commented on #113
1. After looking into it, I realized that this is not an issue, and rather a different response from backend API. If the `data.type` is `python` or `javascript` the syntax highlighting works. For other data types it does not.
2. Need more concrete examples and replication details for the same.

Closing this for now.

[2021-07-28 14:15] #113 closed, assigned to nobody

[2021-07-28 14:31] #59 closed, assigned to komalahire

[2021-10-07 06:56] Poonam-Singh-Bagh opened #166 "New message notification in chat room"
**Is your feature request related to a problem? Please describe.**
Students don't get to know when they have a class or got a new message

**Describe the solution you'd like**
A badge should be displayed every time when a new message arrives with its counts.

**Additional context*
![Screenshot from 2021-10-07 12-24-16](https://user-images.githubusercontent.com/67674096/136334372-e50b66f2-bdd9-42b3

[2021-10-08 13:29] nilshah98 commented on #166
Hi, abhi taak kya kya try kia aap logon ne ?
Kuch bata sakte ho ?

[2022-08-16 17:31] kartiks26 opened #584 "Content Drawer In course Content"

[2022-08-17 12:47] itsomkathe opened #585 "Exercise navigation: Active remains at last"
Active exercises after 7 remain at the last of navigation.
It should be as it is in 1 to 7
**Screenshot**:

![Capture](https://user-images.githubusercontent.com/34516916/185131499-817a415b-8463-4850-8d17-1258384b075e.PNG)

[2022-08-17 14:52] kartiks26 opened #587 "Class Form Issue For new Volunteer Token"
When new user signs Up and tries to create new batch/class so token responds as false and the ui crashes.

[2022-08-17 15:16] kartiks26 commented on #584
![image](https://user-images.githubusercontent.com/84696578/185177112-3ed6706c-6290-4b71-8434-0579825787b5.png)
For Class why Its getting downward?

[2022-08-17 15:21] kartiks26 commented on #584
![image](https://user-images.githubusercontent.com/84696578/185178245-a6a22d78-4bfd-4e22-a363-927b0bc8b3fc.png)
Fix this Scroll Bar

[2022-08-17 15:22] kartiks26 commented on #584
![image](https://user-images.githubusercontent.com/84696578/185178612-074fc991-a6d3-4c15-ae2a-900ebac50614.png)
Avoid Inline Styles
Look How its done elsewhere

[2022-08-17 15:33] kartiks26 commented on #584
Look Why Its getting hide here keep height small and then restrict
![image](https://user-images.githubusercontent.com/84696578/185181068-ab001cdc-2cd2-4339-ab4c-f5f032e3cc50.png)

[2022-08-18 05:58] itsomkathe opened #589 "Retry assesment only once"
If the answer is wrong, the user should be able to retry only once.

[2022-08-18 06:31] amansharmma opened #590 "Team Page MObile view"
Fixed mobile responsiveness in Meraki Team page

[2022-08-18 06:35] amansharmma commented on #590
Modify Meraki team page mobile version.
![Screenshot from 2022-08-18 11-58-57](https://user-images.githubusercontent.com/42709018/185310446-54cec2fd-526d-4fde-9cb1-b707d54c61fe.png)

![Screenshot from 2022-08-18 11-59-01](https://user-images.githubusercontent.com/42709018/185310533-fa64e3fc-4265-4586-8b77-53e5172b7d6e.png)

[2022-08-19 07:54] itsomkathe commented on #584
Above changes have been completed.
Refer to recent commits in #583
@kartiks26

[2022-08-19 08:04] kartiks26 commented on #584
https://user-images.githubusercontent.com/84696578/185573250-b8ed6842-3372-4c3a-ac09-28a8b0a7596f.mp4

Clicking on last one gets scrolled to top

[2022-08-19 08:05] kartiks26 commented on #584
Also The Top
![image](https://user-images.githubusercontent.com/84696578/185573438-5e8de9d3-5adc-42d6-9aec-1d458e7d81b0.png)
Dont get changed , That I will Do

[2022-08-19 08:06] kartiks26 commented on #584
@itsomkathe
Can you look into this scroll thing
As soon as You complete just ping me

[2022-08-19 08:07] kartiks26 commented on #584
![image](https://user-images.githubusercontent.com/84696578/185573942-25698139-3fd6-4d55-8634-d314603fc8b8.png)
Look for spacing in mocup

[2022-08-19 08:24] itsomkathe commented on #584
We need to change the entire structure of file for that. As of now, the drawer gets re-rendered every time the exercise changes. @kartiks26

[2022-08-19 17:17] kartiks26 commented on #584
@itsomkathe tried fixing both things
test them once you are free

[2022-08-20 11:25] kartiks26 opened #591 "Volunteer Automation Page Added - Your Availability"
Added Ui In Volunteer Flow

[2022-08-20 11:50] itsomkathe opened #592 "WhatsApp Redirection"
On the introduction page, when clicked on the phone number, it should be redirected to WhatsApp.
[Click Here](https://drive.google.com/file/d/1HhJ7Dp4R9yPpc7xEIA3tiwelA9G2NlyB/view) for the video.

**Refer Sheet:**
TC for Landing page without login (website), Test Case 10.2
&
Student is logged in (website), Test Case 16.2

[2022-08-20 13:14] itsomkathe opened #596 "Comment out sections on home page"
Comment out the following sections on the home page temporarily.

![Capture](https://user-images.githubusercontent.com/34516916/185747719-e78c9179-12c5-4865-b8c0-7416d017ba06.PNG)
![Capture1](https://user-images.githubusercontent.com/34516916/185747727-7674a654-0754-4e27-ad6b-5feddbfb2fcc.PNG)

[2022-08-23 05:50] kartiks26 commented on #590
@amansharmma Link Pull request created

[2022-08-23 15:55] itsomkathe opened #598 "Miscellaneous Courses not showing after back"
Miscellaneous Courses page is not showing after clicked back.
[Refer this video
](https://drive.google.com/file/d/1T3rn8Nvfr6DlDuxnWpMqAJJIZL0p4tyo/view)

**Refer Sheet:**
Student is logged in (website), Test Case 4.3

[2022-08-23 17:38] itsomkathe commented on #598
After debugging, this certainly looks like an issue with Redux Saga.

[2022-08-23 21:33] jschanker commented on #598
@itsomkathe I'm getting an Access Denied when trying to click on the video link, but I was able to reproduce the error. It occurs earlier after clicking on any course in `/open-course`. (Then, the problem will occur after you click on the back button or the `x` in the top left corner to go back.) The issue is that a bad request is made to `https://api.merakilearn.org/pathways/miscellaneous/enrolle

[2022-08-24 05:57] kartiks26 opened #599 "New Api For Learning Track Integration DEV"
Need To Use NEW API Which will now on track individual process and will be helped in tracking progress

[2022-08-24 05:58] kartiks26 opened #600 "Admission Page Fix On MerakiLearn"
1. The video size is contently changing in every fresh randomly. Need to re-create the page as it's only happening in vercel and production not in local.
2. The admission page on merakilearn site is not working for now so it can be transferred to the Admission dashboard and can be used from there

**Screencast**
https://drive.google.com/file/d/1kF0U7XyfR_itPh9-GHCx7vyg8uxgAz1e/view

**Refer Sheet:

[2022-08-24 06:31] kartiks26 commented on #598
.

[2022-08-24 08:10] Poonam-Singh-Bagh opened #603 "Student role problem in Vercel"
In Vercel the student role  is not working fine.
I have an empty role list but still it showing class tab in the header and it also redirecting to /class route.

1. localhost Screenshot
![Screenshot from 2022-08-24 13-25-54](https://user-images.githubusercontent.com/67674096/186366765-ebf3ce40-5334-443b-90fe-c6398762d1a5.png)

2. Production Screenshot
![Screenshot from 2022-08-24 13-26-14](https:/

[2022-08-24 08:11] saquibaijaz opened #604 "(Student) Dashboard section"
**Describe the bug**
If all the courses are enrolled out, then also on the Dashboard, the unenrolled courses are shown.

**To Reproduce**
1. Login as a student
2. Enroll for a course if not already enrolled
3. Goto Dashboard
4. The dashboard should show the enrolled courses
5. Unenroll out of all the courses
6. Goto Dashboard
7. The dashboard still shows the courses that were previously enrolled

[2022-08-24 08:41] saquibaijaz opened #605 "(Student) Invalid Name in the profile section"
**Describe the bug**
Student enters an invalid name or leaves the name field blank in the profile sction.

**To Reproduce**
1. Student edits profile and enters an invalid name, e.g. 1234, ^%$^$*
2. Student clicks on "Save profile"
3. The invalid name gets saved

**Expected behaviour**
An error message is shown asking Student to enter a Valid Name

**Screencast**
https://drive.google.com/file/d/1SC

[2022-08-24 08:45] saquibaijaz opened #606 "(Student) Blank Name in the profile section"
**Describe the bug**
Student leaves the name field blank in the profile section and clicks save profile.

**To Reproduce**
1. Student edits profile and leaves the name field blank
2. Student clicks on "Save Profile"
3. The profile page gets displayed and in place of the name, the "Please Wait..." message keeps showing

**Expected behaviour**
An error message is shown asking the student to enter a

[2022-08-24 08:52] saquibaijaz opened #607 "(Student) Invalid Mobile Number to check result"
**Describe the bug**
Student enters an invalid mobile number to Check Result (eg more than or less than 10 digits)

**To Reproduce**
1. Student clicks on NG Admissions options in the Profile Icon Menu on the top right
2. Student enters an invalid mobile number to Check Result
3. The new tab is opened where the result is blank and an error message is shown saying please enter registered mobile numb

[2022-08-24 09:00] itsomkathe opened #608 "Exercise Navigation Scrollable"
We have to make the exercise navigation (check at `/course-content`) scrollable.
For reference, check out this [link](https://merakilearn.slack.com/files/U020JD76STF/F03UT8KAQUC/smooth_scrolling_menu.mkv?origin_team=T01N1V0GHGV&origin_channel=D03PEAFF3M5). We need to make it as YouTube has for topics.

![Capture](https://user-images.githubusercontent.com/34516916/186376724-343768d4-ade0-4d7d-b730-

[2022-08-24 10:20] itsomkathe opened #609 "Residential Courses not showing after back"
The issue in #598 is also happening in `/residential-courses`

[2022-08-24 10:24] saquibaijaz opened #610 "(Student) Enter English alphabets in the mobile number field"
**Describe the bug**
Student tries to enter english alphabets in the mobile number field

**To Reproduce**
1. Student clicks on NG Admissions options in the Profile Icon Menu on the top right
2. Letter "e" can be typed in the mobile number field

**Expected behaviour**
Student should not be able to enter the alphabets as it is a Number Only box

**Screencast**
https://drive.google.com/file/d/1oM3l

[2022-08-24 10:31] saquibaijaz opened #611 "(Student) Mobile number input box"
**Describe the bug**
Increment/Decrement text box instead of Number input box to enter mobile number

**Input box present**
Increment/Decrement box

**Input box expected**
Number input box

**Screencast**
https://drive.google.com/file/d/1gGqPQkP8kzugV3RgWENe7Trja2q3Xk8p/view

**Refer Sheet:**
Student is logged in (website), Test Case 10.9

[2022-08-24 10:47] saquibaijaz opened #613 "(Student) Video on the NG Admissions page"
**Describe the bug**
Size of the video frame changes

**To Reproduce**
1. Go to NG Admission page and play the video. The video starts playing normally
2. Refresh the page. The size of video frame changes
3. Navigate to another page and then navigate to NG Admissions page again. The size of video frame changes again

**Expected behavior**
The size of the video window remains unchanged even if the

[2022-08-24 10:52] saquibaijaz opened #614 "(Student) Click on Upcoming Classes after enrolling for Python course"
**Describe the bug**
Clicking on upcoming classes does not open the first module of the course

**To Reproduce**
1. Student enrolls for Python course
2. Student clicks on Upcoming classes
3. The first item is not highlighted and not displayed

**Expected behavior**
First module of class is displayed with the first option in the navbar highlighted and the content is displayed for that respective it

[2022-08-24 10:57] saquibaijaz opened #615 "(Student) Can leave chat room after enrolling for a course"
**Describe the bug**
student is able to leave the chat room for an enrolled course

**To Reproduce**
1. Student enrolls for a course
2. Student goes to Mentor Section from the main navbar
3. Student clicks on the three-dot menu of the chat room and clicks on Leave Room
4. Student is able to leave the chat room and after the page is refreshed, the chat room for enrolled course disappears

**Expecte

[2022-08-24 11:02] saquibaijaz opened #616 "(Student) Chat room for the dropped-out course"
**Describe the bug**
Unexpected behaviour of the chat room for the dropped-out course

**To Reproduce**
1. Drop out from a course and go to Mentor section from the main navbar
2. The chat room for the dropped-out batch is still shown
3. The input box to type messages is still present
4. No goodbye message displayed in the chat room for the dropped-out course"

**Expected behaviour**
"1. The chat r

[2022-08-24 11:12] saquibaijaz opened #617 "(Student) Click anywhere outside the Leave Room Option"
**Describe the bug**
Clicking anywhere outside the Leave Room option should make the option disappear, but it does not happen

**To Reproduce**
1. Go to Mentor section from the main navbar
2. Click on the three-dot menu for any of the available rooms. Leave Room option appears
3. click anywhere outside of the Leave Room option
4. The leave room option does not disappear

**Expected behaviour**
The

[2022-08-24 12:08] Poonam-Singh-Bagh commented on #614
This is happening so that the student can go directly to the option where he can join the class.

[2022-08-24 12:10] #614 closed, assigned to Poonam-Singh-Bagh

[2022-08-24 12:13] #609 closed, assigned to itsomkathe

[2022-08-24 12:20] #598 closed, assigned to itsomkathe, kartiks26

[2022-08-24 12:32] jschanker commented on #611
Can't access the screencast, but if this is on the Admissions page, it's a regression as it was fixed by using a `tel` type input (https://github.com/navgurukul/bhanwari-devi/pull/229#discussion_r790177114).

[2022-08-24 12:39] saquibaijaz commented on #611
https://user-images.githubusercontent.com/111858763/186420393-b68ff1d6-c35c-443a-b7a6-8a3a1fdd76f4.mp4

You can watch the video here. @jschanker
This is still not fixed

[2022-08-24 12:55] jschanker commented on #611
@saquibaijaz Thanks, I'm able to see the video now. I think after it had been fixed, it was broken in a commit in which we started using MUI (https://github.com/navgurukul/bhanwari-devi/commit/3355579c1f3f510cce1019158ba6b95cf9b83104).

[2022-08-24 15:53] Poonam-Singh-Bagh commented on #606
@saquibaijaz It's handled by the frontend. Have made the changes.

[2022-08-24 15:55] Poonam-Singh-Bagh commented on #605
@saquibaijaz It's also handled by the frontend. Have made the changes.

[2022-08-25 01:22] jschanker commented on #598
@kartiks26 `Number.isInteger` would work too, you just need to cast `pathwayId` to a number first since the parameter value will be a `string`.  So, something like `Number.isInteger(Number(pathwayId))` or even just `Number.isInteger(+pathwayId)` would work.

[2022-08-25 11:59] saquibaijaz opened #620 "(Student) Student reaches 8th or higher item in Assessment"
**Describe the bug**
Assessment navbar shifting randomly

**To Reproduce**
1. Student goes to any assessment
2. Student reaches 8th or higher item in the navbar
3. Student clicks on any item in the navbar
4. The clicked item gets highlighted in the navbar
5. The clicked item is displayed
6. The navbar shifts left and the clicked item moves to the right

**Expected behaviour**
1. The clicked item i

[2022-08-25 12:03] saquibaijaz opened #621 "(Student) Click on "Next" after answering a question"
**Describe the bug**
Unexpected behaviour or highlighting the navbar items

**To Reproduce**
1. Student answers a question in the Assessment
2. Student clicks on the "Next" button after answering a question

**Expected behaviour**
1. The next item in the navbar is highlighted
2. The next item is displayed
3. Other Highlighted or unhighlighted items of the navbar are not affected
4. The correspondi

[2022-08-25 12:04] Poonam-Singh-Bagh commented on #604
@saquibaijaz ongoing course (dashboard) has no link with batch. Clicking on the ongoing course card will redirect you to the course you were doing.

[2022-08-25 12:08] saquibaijaz opened #622 "(Student) Click on "Next" without answering a question"
**Describe the bug**
Unexpected behaviour of highlighting the navbar items

**To Reproduce**
1. Student answers a question in the Assessment
2. Student clicks on the "Next" button without answering a question

**Expected behaviour**

1. The next item in the navbar is highlighted
2. The next item is displayed
3. Other Highlighted, or unhighlighted items of the navbar are not affected
4. The corresp

[2022-08-25 12:12] saquibaijaz opened #623 "(Student) Click "Back" button after answering a question correct in the first attempt"
**Describe the bug**
The question or note does not get marked as done

**To Reproduce**
1. Student answers a question
2. Student clicks the Back button
3. The corresponding note or question does not get marked as done

**Expected behaviour**
1. The previous item in the navbar is highlighted
2. The previous item is displayed
3. Other Highlighted or unhighlighted items of the navbar are not affected

[2022-08-25 12:15] saquibaijaz opened #624 "(Student) Click Back button after answering a question correct in the second attempt"
**Describe the bug**
The question or note does not get marked as done

**To Reproduce**
1. Student answers a question in a second attempt
2. Student clicks the Back button
3. The corresponding note or question does not get marked as done

**Expected behaviour**
1. The previous item in the navbar is highlighted
2. The previous item is displayed
3. Other Highlighted or unhighlighted items of the nav

[2022-08-25 12:23] saquibaijaz opened #625 "(Student) Click Back button after answering a question wrong in the first attempt"
**Describe the bug**
Student is not getting a second chance to answer a question

**To Reproduce**
1. Student answers a question incorrect and hits "Submit"
2. Without clicking on any of the buttons that appeared, the student clicks on the "Back" button
3. Student navigates to the same question again
4. The Correct answer along with explanation appears and student does not get a second chance to a

[2022-08-25 12:28] saquibaijaz opened #626 "(Student) Click Back button after answering a question wrong in the second attempt"
**Describe the bug**
Question not marked as done even after two wrong attempts

**To Reproduce**
1. Student answers a question incorrect and hits "Submit"
2. Student attempts the question 2nd time but still incorrect
3. Student clicks Back button after answering a question wrong in the second attempt
4. Question is still not marked as done

**Expected behavior**
1. The previous item in the navbar

[2022-08-25 14:22] saloni-080601 opened #627 "Demo"
Demo description

[2022-08-25 14:43] saloni-080601 opened #628 "Mobile Version"
I work on mobile version of learning track, profile and volunteer classes page.

[2022-08-25 15:01] #6 closed, assigned to nobody

[2022-08-25 15:01] #9 closed, assigned to vikotar

[2022-08-25 15:01] #28 closed, assigned to komalahire

[2022-08-25 15:01] #29 closed, assigned to vikotar

[2022-08-25 15:01] #32 closed, assigned to nobody

[2022-08-25 15:01] #33 closed, assigned to tarun-dugar

[2022-08-25 15:01] #36 closed, assigned to jashanbhullar

[2022-08-25 15:02] #37 closed, assigned to komalahire

[2022-08-25 15:02] #47 closed, assigned to tarun-dugar

[2022-08-25 15:02] #48 closed, assigned to tarun-dugar

[2022-08-25 15:02] #55 closed, assigned to vikotar

[2022-08-25 15:02] #62 closed, assigned to nobody

[2022-08-25 15:02] #63 closed, assigned to komalahire

[2022-08-25 15:02] #80 closed, assigned to komalng

[2022-08-25 15:02] #89 closed, assigned to nobody

[2022-08-25 15:02] #119 closed, assigned to komalahire

[2022-08-25 15:02] #120 closed, assigned to komalahire

[2022-08-25 15:02] #166 closed, assigned to nobody

[2022-08-25 15:56] kartiks26 opened #630 "Header Links Open On Hover"
Header Links Open On Hover

[2022-08-26 08:45] kartiks26 commented on #603
@Poonam-Singh-Bagh if this is not happening in The main website we should not worry about this IG

[2022-08-26 08:46] kartiks26 commented on #587
@Poonam-Singh-Bagh Updates On This Please

[2022-08-27 06:53] saquibaijaz opened #631 "(Student) Name change does not take effect on the dashboard"
**Describe the bug**
Name is changed in profile but change is not shown on the dashboard

**To Reproduce**
1. Student edits his/her name and enters a valid name on the profile page
2. Student hits Save Profile
3. Name is changed on profile page
4. Name is not changed on the dashboard

**Expected behaviour**
1. Name is changed on the profile page
2. name is also changed on the dashboard

**Screenca

[2022-08-27 09:19] itsomkathe opened #632 "Exercise Navigation: Images for completed assessments not visible"
**Description**

On the `/course-content`, even if the assessment, class, or exercise has been completed, the image of completed is not getting displayed. Instead, the normal image (say `assessment.svg`, etc) is shown.
The thing is, the logic for selecting is correct and for each `contentType`, it logs the correct mapped image. But on runtime, it changes the `src`. This can be seen by inspecting.

[2022-08-27 09:23] itsomkathe commented on #632
@jschanker can you take a look please?

[2022-08-28 20:20] jschanker commented on #632
@itsomkathe You were seeing the logs for the `ExerciseImage`s for mobile:
https://github.com/navgurukul/bhanwari-devi/blob/8ad3cac0fb259fd1fc8e51439fb61c07bc105b5b/src/components/PathwayExercise/index.js#L412-L419

The first ones coming from the child `ExerciseImage` of `NavigationComponent`, which were children of the `Exercise` Component:
https://github.com/navgurukul/bhanwari-devi/blob/8ad3cac0

[2022-08-29 14:54] kartiks26 opened #636 "On Dashboard The Learning Track Needs Updated With API"
The updated API wont work with Existing code for user Dashboard So need To update THAT

[2022-08-29 14:56] #632 closed, assigned to jschanker, itsomkathe, kartiks26

[2022-08-29 15:19] #636 closed, assigned to kartiks26

[2022-08-29 15:48] #599 closed, assigned to itsomkathe, kartiks26

[2022-08-29 15:48] #585 closed, assigned to itsomkathe

[2022-08-29 15:49] #596 closed, assigned to Poonam-Singh-Bagh

[2022-08-30 04:28] itsomkathe opened #639 "Drawer: Completed content should be green"
In the `/course-content` drawer, the completed classes, and exercises should be green. The active page should be a little bold.

[2022-08-30 16:55] #639 closed, assigned to itsomkathe

[2022-09-01 18:20] kartiks26 opened #646 "Switch View Not working in mobile view"
Disabled hover switch view in mobile

[2022-09-01 18:20] #646 closed, assigned to kartiks26

[2022-09-01 18:27] kartiks26 opened #648 "Next click not working in mobile view"

[2022-09-01 18:28] #648 closed, assigned to kartiks26

[2022-09-02 05:48] #592 closed, assigned to itsomkathe

[2022-09-02 08:21] kartiks26 opened #653 "Progress Percentage"
Progress percentage in pathway courses with new api

[2022-09-02 08:22] #653 closed, assigned to kartiks26

[2022-09-03 06:53] jschanker opened #657 "Switch Views dropdown doesn't open on hover"
**Describe the bug**
If a user has more than two roles and their browser window's width is at least 768 pixels so that Switch Views appears in the header, hovering over the text results in an error instead of the dropdown menu appearing.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and conc

[2022-09-03 08:17] kartiks26 commented on #639
@itsomkathe the scroll can be more
Everything else is working fine
and with scroll on mouse its not scrollable

[2022-09-03 08:20] #591 closed, assigned to komalahire

[2022-09-03 09:13] saquibaijaz commented on #657
I'll check it out. Plans are underway to change the dashboard designs, and I am waiting for the new dashboard designs
@jschanker

[2022-09-03 10:02] saquibaijaz opened #659 "NavBars of different roles not displaying expected items"
**Describe the bug**
NavBar of Admin, Volunteer & Partner dashboards not working as expected

**To Reproduce**
Login as Admin, Volunteer & Partner one by one

**Expected behaviour**
The NavBars should show the relevant items for each role

**Screencasts**
1. [For Admin](https://drive.google.com/file/d/1qe5bGPZZbDJQ4qbHFeuDapW-U9BxrKKj/view?usp=sharing)
2. [For Partner](https://drive.google.com/fil

[2022-09-03 14:30] jschanker commented on #659
The issue is that your last selected role is being stored in `localStorage` and when you login or refresh the page, it shows the navigation items for this role. So, this should only be a problem when (1) you login with an account that doesn't have that role as you showed in your screencasts or when (2) you remove a role from a user,

We can fix (1) by associating selected roles with account e-mail

[2022-09-03 14:38] saquibaijaz commented on #659
@Poonam-Singh-Bagh please check

[2022-09-03 14:40] jschanker commented on #657
@saquibaijaz Sounds good, just a note that since the PR to fix this has been merged, you won't be able to see this bug on bhanwari-devi anymore. In general, I think we should add test cases for the requirements of any added feature to prevent the need for manual re-testing of stuff that previously worked when changes to the code are made.

[2022-09-03 14:43] saquibaijaz commented on #657
@jschanker Sure. I'll see to it.

[2022-09-05 06:00] kartiks26 commented on #608
@itsomkathe it looks like when we are on extreme left it shouldn't be visible and on extreme right as well

[2022-09-05 06:00] kartiks26 commented on #608
increase scrollable power on clicking it arrow by some amount

[2022-09-05 06:01] kartiks26 commented on #608
@itsomkathe  also review it from narendra once

[2022-09-05 13:29] #659 closed, assigned to komalahire, Poonam-Singh-Bagh

[2022-09-06 12:39] itsomkathe opened #665 "Mentor: Chat User Interface"
The styling of chats is currently done using static CSS. We need to convert it into Material Components such as `Containers` etc.

Also, the current styling is temporary, we need to make it as per the given Figma file.
**Figma Design:** [Click Here](https://www.figma.com/file/XjMUlESyZyZ5cQ6XI7fh85/Merakilearn-Web?node-id=8605%3A156891)

For font sizes, colors, and default stylings use the ones fr

[2022-09-08 13:18] saquibaijaz opened #676 "Volunteer flow problem"
**Describe the bug**
If the user navigates to another page while going through Volunteer flow, he does not have any option to go back to Volunteer flow.

**To Reproduce**
1. Go to Volunteer flow
2. Complete one or more steps
3. navigate to any other page
4. No option to navigate back to Volunteer Flow

**Expected behaviour**
There should be an option to go back to Volunteer flow.

**Screencast**
[

[2022-09-10 10:12] saquibaijaz opened #681 "Local storage bug for Volunteer flow"
**Describe the bug**
The steps traversed by a user are stored in local storage, and if another user uses the same computer/browser to go through Volunteer flow, then the steps previously traversed are marked as done for the new user as well.

**To Reproduce**
1. Login to Volunteer flow
2. Complete a few steps
3. Logout and login as a different user
4. The steps completed for the previous user will

[2022-09-10 10:28] saquibaijaz opened #682 "NEXT button on availability page in Volunteer Flow"
**Describe the bug**
The NEXT button on the availability page in the Volunteer flow is not working as expected.

**To Reproduce**
1. Login to Volunteer flow
2. Go to the availability page
3. Fill in the availability
4. The NEXT button gets enabled
5. Remove the availability
6. The NEXT button is still enabled
7. Click the NEXT button and move to the next step

**Expected behaviour**
The NEXT butto

[2022-09-14 13:20] saquibaijaz opened #686 "The Menu and Profile icon not working on website opened on a mobile device"
Reported on slack by Narendra Singh

**To Reproduce**
1. User visits the Meraki learn website using a browser on his mobile phone and logs in
2. User clicks on the hamburger menu on the top right and the profile icon on the top left
3. Both of these icons do not work (The Profile Iconsometimes work on the firefox browser)

**Expected behaviour**
The Hamburger Menu and the Profile Icon should work

[2022-09-14 13:25] saquibaijaz opened #687 "Broken links found on the website"
Reported on Slack by Muthu Kumaran

**To Reproduce**
1. Visit the spoken English learning track
2. Click on the Spoken English module
3. Click on the "application" link
4. The link is broken

**Expected behaviour**
All links should be checked properly and should not be broken

**Screencast**
https://drive.google.com/file/d/1B2mcYnTYqTCkSD6vGmNBwI_cZOjVFy22/view?usp=sharing

**Refer Sheet**
TestCas

[2022-09-14 13:30] saquibaijaz opened #688 "Links on the website are not working as expected"
**Describe the bug**
The links on the website are opening on the same tab. This way the user loses track of where he was on the Meraki website. The back button is also not redirecting the user to the previous page

**To Reproduce**
1. User clicks different links
2. Links are opened in the same tabs
3. User clicks the back button to revisit the previous page
4. The previous page is blank and appear

[2022-09-14 13:34] saquibaijaz opened #689 "The question page is blinking"
Reported on Slack by Shahbaz Mukhtar Sheikh

**Describe the bug**
The questions page inside the assessment section blinks twice when visited using the assessment navbar

**To Reproduce**
1. User visits any course module
2. User clicks on any question icon in the assessment navbar
3. The question page appears and blinks twice

**Expected behaviour**
No blinking should be there

**Screencast**
https

[2022-09-17 09:56] saquibaijaz commented on #689
@kartiks26 The issue is still there

[2022-09-17 09:57] kartiks26 commented on #689
The dev server is not being updated . We have fixed it in local.
The deployment are failing
@saquibaijaz

[2022-09-17 09:59] saquibaijaz commented on #689
All right
Let me know when it's done. Till then, can you please re-open the issue? I'll test and close it if I find it working as expected.
@kartiks26

[2022-09-17 10:00] kartiks26 commented on #689
Sure

[2022-09-17 13:44] saquibaijaz opened #702 "Partners' websites not opening"
**Describe the bug**
The websites of the partners mentioned on the Partners pages are not opening for some of the partners

**To Reproduce**
1. Click on the "Our Partners" page from the footer
2. Click on the website option to visit a particular partner's website

**Expected behaviour**
Websites should open for all partners

**Screenshot**
https://drive.google.com/file/d/1n1h22dRh5DUUMotyv7-fvAFU7

[2022-09-17 13:47] saquibaijaz opened #703 ""On Hover" not working as expected"
**To Reproduce**
1. User hover's over an item in the navbar
2. The menu is not opening properly and the screen is shaking
3. While the dropdown is still open, user hover's over another menu item
4. The other dropdown does not open unless the previous one is collapsed

**Expected behavior**
The dropdowns should open for the item which is Hovered On

**Screencast**
https://drive.google.com/file/d/1v

[2022-09-17 13:50] saquibaijaz opened #704 "Clicking back button scrolls the page to the top"
**Describe the bug**
If a user clicks on the course module and the clicks back button, the page is scrolled to the top.

**To Reproduce**
1. User clicks on a course module inside a learning track
2. User is redirected to the login page
3. User clicks the back button
4. User is redirected to the course module page but the page is scrolled to the top (For all the learning tracks)

**Expected behavio

[2022-09-19 18:36] kartiks26 commented on #704
@saquibaijaz  its been implemented As a feature , Like what yoused to happen on home screen the learning track was preety down and when you been using the course content you do next it was not getting to top as it should ideally so in pathway change its just scrolls to top . we can remove that but might halt the experience in course content

[2022-09-19 18:40] kartiks26 commented on #703
@jschanker  i tried solving this issue by
![image](https://user-images.githubusercontent.com/84696578/191091218-46ef0aba-7581-46bc-b966-613424212baa.png)
Adding a onMouseLeave to the menuItem but as they are both in different container it doesn't seem to work in perfect way

[2022-09-19 18:43] kartiks26 commented on #702
@saquibaijaz
![image](https://user-images.githubusercontent.com/84696578/191091959-0d5ea87d-1803-47bf-90ee-54bace89fdf4.png)
The backend dont have links for all . need to done by backend .

[2022-09-19 18:44] kartiks26 commented on #702
@kirithiv2000

[2022-09-20 07:37] jschanker commented on #703
@kartiks26 Will try to look at this at the end of the week when I have some more time.

[2022-09-20 09:13] kartiks26 commented on #703
@jschanker Okay

[2022-09-20 11:21] jschanker opened #711 "Possible Mismatch of header navigation items with landing page on login"
**Describe the bug**
Header items may not match redirected landing page on login. This can occur because the `Login` page loads a `Redirect` element pointing to the first role without accounting for the last selected role in `localStorage`.

**To Reproduce**
Steps to reproduce the behavior:
1. Login with an account with more than one role.
2. Switch the view to a non-primary role (e.g., student)
3

[2022-09-20 13:02] saquibaijaz commented on #711
Sure Jason, I'll add this to our test cases.

[2022-09-20 13:04] saquibaijaz commented on #704
@kartiks26 , I'll confirm again and will let you know

[2022-09-21 04:48] jschanker commented on #703
@kartiks26 I noticed that the problem was that the other menus were being covered so `onMouseEnter` didn't work. Removing `fixed` positioning works. Again, don't really have time to work on this right now, but this can get you started with your investigation. Also, see https://stackoverflow.com/questions/55318477/how-to-make-material-ui-menu-based-on-hover-not-click
![image](https://user-images.gi

[2022-09-21 10:52] saquibaijaz commented on #702
@Poonam-Singh-Bagh & @kirithiv2000

1. Nirantar Trust/ Bihar (https://www.nirantar.net/)
2. Feminist Approach to Technology (https://www.fat-net.org/)
3. Anantmool (https://anantmool.org/)
4. iPartner India, Rajasthan -> Use the same Website as iPartner India, New Delhi
5. iPartner India (Roshni) -> Use the same website as iPartner India New Delhi
6. Arya Kanya Vidyalaya, Punjab -> They does not h

[2022-09-21 11:36] saquibaijaz commented on #605
The special characters should be allowed, in case the student wants to enter the name in Hindi

[2022-09-21 11:36] #605 closed, assigned to Poonam-Singh-Bagh

[2022-09-21 11:44] #607 closed, assigned to Poonam-Singh-Bagh

[2022-09-21 11:48] #613 closed, assigned to Poonam-Singh-Bagh

[2022-09-21 12:01] #620 closed, assigned to Poonam-Singh-Bagh

[2022-09-21 12:04] #621 closed, assigned to Poonam-Singh-Bagh

[2022-09-21 12:04] #622 closed, assigned to Poonam-Singh-Bagh

[2022-09-21 12:09] #623 closed, assigned to Poonam-Singh-Bagh

[2022-09-21 12:15] #687 closed, assigned to Poonam-Singh-Bagh, saquibaijaz

[2022-09-21 12:20] #624 closed, assigned to Poonam-Singh-Bagh

[2022-09-21 12:21] #626 closed, assigned to Poonam-Singh-Bagh

[2022-09-22 05:47] itsomkathe opened #714 "⚠️ Remove the Warnings and Console Logs from dev"
The `dev` branch currently has many warnings and `console.log` statements. This is the case with both the `CMD` and `Dev Tools`.
It gets really annoying when you want to log something on your branch but cannot find it. Also, it's not a good dev practice, though logs are removed in production.

### ❌ DO NOT REMOVE THE LOGS FROM `logger.js` and `browser-matrix.min.js`

Most of the warnings are due t

[2022-09-23 05:54] vivekdogra opened #717 "Add Google Analytics to meraki web."
**Is your feature request related to a problem? Please describe.**
This will help Program team in product analytics which they can share with the external stakeholders.

**Describe the solution you'd like**
Google Analytics has to be configured in meraki web.

**Describe alternatives you've considered**
-

**Additional context**
-

[2022-09-24 07:27] #702 closed, assigned to Poonam-Singh-Bagh

[2022-09-24 07:31] #604 closed, assigned to Poonam-Singh-Bagh

[2022-09-24 10:24] #631 closed, assigned to Poonam-Singh-Bagh

[2022-09-27 09:49] #627 closed, assigned to saloni-080601

[2022-09-27 13:04] itsomkathe opened #721 "Course-Content: Blank Page After Back From Link"
In course content, after getting back from the link page gets blank.

Edit: It has been resolved. See branch `BlankPageBug-CourseContent`

[2022-09-28 19:21] kartiks26 commented on #682
@saquibaijaz Please check this fixed in dev

[2022-09-29 06:37] saquibaijaz commented on #682
@

https://user-images.githubusercontent.com/111858763/192957024-7d839d75-258e-4487-98ec-ad9ddd102c08.mp4

@kartiks26 Please check this out. you can connect with me if you need more explanation.

[2022-09-29 07:15] kartiks26 commented on #682
@saquibaijaz I miss interpreted it !! sorry  Will fix it rn

[2022-09-29 07:17] kartiks26 commented on #682
@saquibaijaz Please retry in 10 mins

[2022-09-29 09:42] saquibaijaz commented on #682
@kartiks26 , brother it's still the same. is it on dev or are you testing it in your local environment?

[2022-09-29 16:38] kartiks26 commented on #682
@saquibaijaz The build Seems to failed due to some reason

[2022-09-29 16:39] kartiks26 commented on #682
![image](https://user-images.githubusercontent.com/84696578/193089119-44994a7a-f2e7-40a0-91f3-66b5459d5570.png)
See in this the latest commit dont have the deployed comment

[2022-09-30 04:44] saquibaijaz commented on #682
@kartiks26 All right. Let me know once done

[2022-09-30 04:45] kartiks26 commented on #682
Sure

[2022-10-01 10:22] #603 closed, assigned to kartiks26

[2022-10-01 10:22] #606 closed, assigned to Poonam-Singh-Bagh

[2022-10-01 10:23] #608 closed, assigned to itsomkathe, kartiks26

[2022-10-01 10:25] #615 closed, assigned to kirithiv2000

[2022-10-01 10:28] #628 closed, assigned to Poonam-Singh-Bagh

[2022-10-01 10:29] #676 closed, assigned to komalahire

[2022-10-01 10:32] #721 closed, assigned to itsomkathe

[2022-10-01 11:42] saquibaijaz commented on #615
@Poonam-Singh-Bagh , I cannot test it as there are no courses to enroll for.

[2022-10-01 11:43] #600 closed, assigned to itsomkathe, kartiks26

[2022-10-01 11:43] #590 closed, assigned to amansharmma

[2022-10-01 11:43] saquibaijaz commented on #617
@Poonam-Singh-Bagh , not working

[2022-10-01 11:44] #587 closed, assigned to itsomkathe, Poonam-Singh-Bagh, kartiks26

[2022-10-01 11:49] saquibaijaz commented on #682
@kartiks26 , not working. If we remove the time then also the button is enabled.

[2022-10-01 11:50] saquibaijaz commented on #703
@kartiks26 , not working

[2022-10-01 12:08] Poonam-Singh-Bagh commented on #704
@saquibaijaz can we get the update? Do remove this feature or what?

[2022-10-01 12:09] Poonam-Singh-Bagh commented on #682
@saquibaijaz can you try it once again https://bhanwari-devi.vercel.app/volunteer-form
If still it's not fixed for you we'll do a call because we 3 @komalahire @kartiks26 and I tested it, it's working fine.

[2022-10-01 12:20] Poonam-Singh-Bagh commented on #617
@saquibaijaz the design has been changed now, and in new design user doesn't have the option to leave the room.

[2022-10-01 12:27] Poonam-Singh-Bagh commented on #615
@saquibaijaz the design has been changed now, and in new design user doesn't have the option to leave the room.

[2022-10-01 21:55] yamitrvg12 commented on #714
Hey [itsomkathe](https://github.com/itsomkathe), can you assign me this issue so that I can work on it?

[2022-10-02 11:04] kartiks26 commented on #714
Yes sure you can work on it and check there the branch already worked on @itsomkathe

[2022-10-02 13:14] itsomkathe commented on #714
@yamitrvg12 I've assigned you. Go ahead!

[2022-10-02 22:40] yamitrvg12 commented on #714
working on it...

[2022-10-03 04:31] yamitrvg12 commented on #714
Hi [itsomkathe](https://github.com/itsomkathe)

I have 3 question:
1. What information should be on `.env.development`?
2. Is login works?
3. Should be working on Warning-Logs branch? because that branch is behind of 5 commit from main branch

[2022-10-03 04:45] itsomkathe commented on #714
@yamitrvg12

1. @kartiks26 have you given the credential details?
2.
3. You can create a new branch from `Warning-Logs` as a base branch. Then raise a PR against `Warning-Logs` once you are done.

[2022-10-03 04:51] itsomkathe commented on #714
@yamitrvg12

You can refer to this Markdown
https://github.com/navgurukul/bhanwari-devi/blob/contributing.md/CONTRIBUTING.md

[2022-10-04 11:20] komalahire commented on #703
@saquibaijaz  This issue has been done. Please check.

[2022-10-04 11:21] komalahire commented on #681
@saquibaijaz This issue has been done. Please check.

[2022-10-04 11:25] komalahire commented on #688
@saquibaijaz This issue has been done. Please check.

[2022-10-04 12:54] saquibaijaz commented on #689
@kartiks26
Need update on this
cc: @Poonam-Singh-Bagh

[2022-10-04 13:00] saquibaijaz commented on #704
@kartiks26 @Poonam-Singh-Bagh
I got this reply in the requirements call, "not fit for content, other places they should maintain the state"
Means, when we are on assessments and looking at the content then scroll to top is fine, but when we are anywhere else on our website other than the content, then it should not scroll to top when back button is hit

[2022-10-04 13:03] saquibaijaz commented on #682
@Poonam-Singh-Bagh @kartiks26
working fine now.

[2022-10-04 13:03] #682 closed, assigned to Poonam-Singh-Bagh, kartiks26

[2022-10-04 13:04] saquibaijaz commented on #617
@Poonam-Singh-Bagh
I'll check the new design, then we'll close this issue

[2022-10-04 13:13] saquibaijaz commented on #703
@komalahire Not working as expected

https://user-images.githubusercontent.com/111858763/193828198-8c8aafb9-500b-4281-a884-fb105fdb52a2.mp4

[2022-10-04 13:18] saquibaijaz commented on #681
@komalahire
It's working fine

[2022-10-04 13:18] #681 closed, assigned to jschanker, Poonam-Singh-Bagh

[2022-10-04 13:22] saquibaijaz commented on #688
@komalahire
It's working fine

[2022-10-04 13:22] #688 closed, assigned to Poonam-Singh-Bagh

[2022-10-04 18:21] komalahire commented on #703
Ok, let me check again.

[2022-10-05 06:03] komalahire commented on #611
@saquibaijaz  Not using this page anymore.

[2022-10-05 06:04] komalahire commented on #610
@saquibaijaz  Not using this page anymore.

[2022-10-05 07:10] saquibaijaz commented on #610
@Poonam-Singh-Bagh
All right, I'll talk with the requirement team and will let you know if this page needs to be removed

[2022-10-06 07:06] Poonam-Singh-Bagh commented on #703
@jschanker can you please fix it?

[2022-10-06 07:16] #657 closed, assigned to nobody

[2022-10-06 07:26] Poonam-Singh-Bagh commented on #689
Not working. Will let you know once it gets fixed.

[2022-10-13 13:48] kartiks26 opened #745 "Tutor Dashboard"

[2022-10-13 13:48] kartiks26 opened #746 "Course Editor Version 1"

[2022-10-13 13:49] kartiks26 opened #747 "Mentor chats Feature"

[2022-10-13 14:04] kartiks26 commented on #746
Ready to be released

[2022-10-13 14:06] kartiks26 opened #749 "Course Editor version 2"
1. Drag Drop functionality needed
2. Option to delete a block is needed
3. Do not expect the user to write CSS in the blocks; the CSS or formatting should be done according to the chosen block
4. Ability to add bullet and number lists
5. The Submit button should change to the "Save" button
6. Navigating to another page or refreshing this page should prompt, "Your changes will be lost; please Save

[2022-10-13 14:07] kartiks26 commented on #749
Completed in --> 18/10

[2022-10-13 14:10] kartiks26 commented on #745
Completed in --> 15/10

[2022-10-13 14:12] kartiks26 commented on #717
completed by -->14/10

[2022-10-14 08:55] designwithnarendra commented on #749
### Course editor v2 should be based on [Editor.js](https://editorjs.io)

### Necessary Capabilities to be built:

- [ ] Rich text editor for the text content.
- [ ] Should be able to do the following: Headings, Text formatting like bold, italics, making lists, links, code sample, tables etc. In editor.js, these options come from the "+" icon on the left side. Check editor.js for all the capabilit

[2022-10-14 09:15] saquibaijaz commented on #746
1. The editing option should float
2. If we add a block and leave it blank, and we hit submit, that block shouldn't appear on the article page
3. No option to add anything after the last block
4. When we hit "Submit", it takes around 10 seconds and then the page is refreshed.
5. After we hit "Submit", we should be redirected to the article page and not the course editor

@Poonam-Singh-Bagh

[2022-10-14 09:18] saquibaijaz opened #750 "Assessment progress tracking"
1. The progress tracking should be done seamlessly across website and app

[2022-10-14 11:26] saquibaijaz opened #751 "delete"

[2022-10-14 11:29] #751 closed, assigned to nobody

[2022-10-14 11:34] saquibaijaz opened #752 "(Production Bug) Broken images for Spoken English course modules"
**To Reproduce**
Steps to reproduce the behavior:
1. Go to the prod website for Meraki
2. Goto Spoken English section
3. Course module images are broken

**Expected behavior**
Correct images should show up for the course modules

![production bug](https://user-images.githubusercontent.com/111858763/195837254-fbe828de-04e5-4d12-a3c4-f323ae2fc165.png)

[2022-10-14 12:08] saquibaijaz commented on #665
Chat feature not working @itsomkathe

[2022-10-14 12:16] itsomkathe commented on #665
What's happening? Describe the issue

[2022-10-14 12:42] saquibaijaz commented on #665
@itsomkathe
Cannot send messages to chat.
The name of the batch is not showing in the left bar
Only showing the batch number
On drop-out of course, chat is still available

[2022-10-14 12:50] itsomkathe commented on #665
Which branch? see https://meraki-qoa1jlbgg-sdevmeraki.vercel.app/
I was not given any changes regarding drop out of course.

[2022-10-14 12:51] saquibaijaz commented on #607
Page which contained this issue has been removed

[2022-10-14 12:55] saquibaijaz commented on #665
@itsomkathe
Leave the "drop out of course" thing
And I cannot test these links, I need everything on https://bhanwari-devi.vercel.app/ to test

[2022-10-14 13:00] itsomkathe commented on #665
We have to merge it to dev then. All the changes are in `ChatStyling` PR

[2022-10-14 13:02] saquibaijaz commented on #665
@itsomkathe I saw it was on the "deployed on dev" board. Anyways, when it is deployed, I'll test then

[2022-10-14 13:43] Poonam-Singh-Bagh commented on #746
Done
1. After we hit "Submit", we should be redirected to the article page and not the course editor
2. No option to add anything after the last block
3. If we add a block and leave it blank, and we hit submit, that block shouldn't appear on the article page

Backend
1. When we hit "Submit", it takes around 10 seconds and then the page is refreshed.

Not  started
1. The editing option should float

[2022-10-14 15:18] Poonam-Singh-Bagh commented on #746
Done

1. The editing option should float

[2022-10-15 06:49] komalahire commented on #752
@saquibaijaz

These images should come from the backend. I am coordinating with the backend for the same. Will change the status whenever they do this.

[2022-10-15 09:44] saquibaijaz commented on #752
@komalahire
Please tell the backend to take it as Highest Priority, as this is in production.

[2022-10-15 11:22] designwithnarendra opened #755 "Certificate Generation"
### Description of the Problem

The certificates are issued manually at the moment. We need to run a script with the student details after every batch completion. It is cumbersome to keep track.

### Describe the solution you'd like

The solution we want is to automate certificate generation based on the student progress from the app or website itself. Checklist for the current solution is as foll

[2022-10-16 18:13] kartiks26 opened #757 "Refactor code for Assesment"
The current code written in assessment has some Redundant states that can be eliminated and code can be made more clear.
Time take --> 2 Days (17/10)

[2022-10-17 08:30] jschanker commented on #703
@Poonam-Singh-Bagh @kartiks26 @saquibaijaz To give an update on this, the issue for the Learn/About/Get Involved dropdowns is fixed by https://github.com/navgurukul/bhanwari-devi/pull/740. You can see that here: https://bhanwari-devi-kt6o3pt7s-navgurukul-meraki.vercel.app/ . The strategy I settled on for now was to have `inDropdown` state that gets set to `false` when the mouse leaves the navigati

[2022-10-17 10:50] saquibaijaz commented on #703
@Poonam-Singh-Bagh @kartiks26
Please also check the "scroll bar" in the dropdown displayed when we hover on "Learn".

[2022-10-17 13:29] komalahire commented on #752
Narendra suggested that we would not add images to that course because we have the main course SPOKEN ENGLISH only.
And that all are Supplemental courses with no need for images.

We are going to show somthing like this.
![Screenshot 2022-10-17 185702](https://user-images.githubusercontent.com/43803182/196189627-c4f9ad48-81c9-4240-84d7-a108be5daaa1.png)

I am working on it. It will be completed to

[2022-10-17 13:41] Poonam-Singh-Bagh commented on #750
This should be fixed from backend side.

[2022-10-17 13:44] Poonam-Singh-Bagh commented on #717
Partially done and need additional inputs from @vivekdogra

[2022-10-17 13:51] Poonam-Singh-Bagh commented on #749
To reach out to @abhishekgupta92 @vivekdogra @suyashpradhan as we are unable to convert our JSON structure list into editor.js list.

[2022-10-17 13:52] abhishekgupta92 commented on #749
Let's do a call at 8 pm today?

[2022-10-17 14:02] Poonam-Singh-Bagh commented on #757
Will be completed by tonight.

[2022-10-17 16:34] Poonam-Singh-Bagh commented on #703
@jschanker It's not working properly when the user is logged in. I guess when the mouse leaves the navigation `inDropdown` state isn't getting set to false.

![Screenshot from 2022-10-17 21-58-58](https://user-images.githubusercontent.com/67674096/196233043-8a902fc7-3721-450b-836a-e662a971bcbc.png)

[2022-10-17 16:38] Poonam-Singh-Bagh commented on #752
Done...!

[2022-10-17 22:57] jschanker commented on #703
@Poonam-Singh-Bagh Unfortunately, this is because of some semi-duplicated code. I made the correction for the public learn dropdown in https://github.com/navgurukul/bhanwari-devi/blob/fix/hover-menu-close-on-leave/src/components/Header/index.js#L91-L147, but not for the learn menu for the student header dropdown https://github.com/navgurukul/bhanwari-devi/blob/fix/hover-menu-close-on-leave/src/com

[2022-10-18 05:56] saquibaijaz commented on #752
![Untitled](https://user-images.githubusercontent.com/111858763/196347068-dc61b0c0-27ff-4814-a41a-e21ec957e96e.png)

It's fine. Just a little change is needed.

[2022-10-18 07:15] iamvaiibhav19 commented on #745
# Changes Done :

### UI
- Web view ui ready
- Mobile view ui ready

### Functionality
- deleting indivisiual and selected volunteers
- changing status of indivisual volunteer
- generate report with **.xlsx** format
- searching through table with name
- status and language filter

# Remaining :

- Searching through table with **Last Class Title , Last Class Batch** and adding **debounce** in searc

[2022-10-18 10:35] Poonam-Singh-Bagh commented on #752
What change is needed @saquibaijaz?

[2022-10-18 10:46] saquibaijaz commented on #752
Check the attached pic
@Poonam-Singh-Bagh

[2022-10-18 12:17] komalahire commented on #745
**Depending on the backend:-**

- Delete and change the status API is not working.
- Searching through table with Last Class Title, Last Class Batch.
- Change the status for selected multiple volunteers.
- Python(40) & Spoken English(20), these values are hardcorded, so python should contain no of volunteer with python and same for spoken English

**Done**
- Removing Column names i.e. Header when

[2022-10-18 13:44] kartiks26 commented on #745
@kirithiv2000

[2022-10-18 13:44] Poonam-Singh-Bagh commented on #749
Converting the list has been done, but the object is getting repeated so need to seek another approach.

[2022-10-18 13:53] Poonam-Singh-Bagh commented on #749
Completed in --> 27/10

[2022-10-18 13:57] kartiks26 commented on #703
- [ ] Need to make common component

[2022-10-18 13:59] kartiks26 commented on #752
@kirithiv2000

[2022-10-18 14:27] kirithiv2000 commented on #745
**Done from backend**
1. Delete and change the status API is working and is in dev.
2. status change for multiple volunteer api also in dev. it is working. just the way of sending parameter is different. do not wait for us, start implimenting the apis in frontend side.

**Pending**
1. Searching through table with Last Class Title, Last Class Batch.
2. Python(40) & Spoken English(20), these values

[2022-10-19 08:33] Poonam-Singh-Bagh commented on #750
Result API in Assessment is responding late. @kirithiv2000 will assign the task when anyone gets free from their current task.

[2022-10-19 12:58] saquibaijaz commented on #686
https://user-images.githubusercontent.com/111858763/196697008-71158122-93a1-41bc-9207-db5e1445138f.mp4

Recorded today at around 20 minutes past 6
@komalahire @Poonam-Singh-Bagh

[2022-10-19 15:07] Poonam-Singh-Bagh commented on #745
Complete in - 20/10

[2022-10-20 08:25] kartiks26 commented on #745
https://github.com/navgurukul/sansaar/issues/695

[2022-10-20 08:28] Poonam-Singh-Bagh commented on #745
Status change only can be done when the Volunteer Automation bug will get fixed as we can change the status of those tutors who was onboarded from volunteer automation flow.
[Volunteer Automation bug](https://github.com/navgurukul/sansaar/issues/695)

[2022-10-20 09:02] Poonam-Singh-Bagh commented on #745
[Volunteer Automation bug](https://github.com/navgurukul/sansaar/issues/695)  done

[2022-10-20 11:49] #752 closed, assigned to komalahire

[2022-10-20 11:49] kirithiv2000 commented on #752
fixed

[2022-10-20 12:26] kartiks26 commented on #745
[code]
This is a structure in current file structure in dashboard design
The table container styling which is also a wrapper in it and manages scrolling of it.
Its nearly impossible keeping the position of that collapsible component to be scroll on its own
Approach that can work but will might break in the web (which is going to be used Ultimately for most of users)
1. Make the collapsible compone

[2022-10-20 13:08] saquibaijaz commented on #611
This page is not available on the website anymore, so closing this issue

[2022-10-20 13:08] #611 closed, assigned to Poonam-Singh-Bagh

[2022-10-20 13:10] saquibaijaz commented on #610
The issue is on a page which is not being used on the website anymore, so closing this issue

[2022-10-20 13:10] #610 closed, assigned to Poonam-Singh-Bagh

[2022-10-20 13:11] saquibaijaz commented on #616
This issue is in the feature (CHAT ROOM) which will be changed completely. So closing this issue

[2022-10-20 13:11] #616 closed, assigned to kirithiv2000

[2022-10-20 13:13] komalahire commented on #745
**Things are done today**

- Single delete and multiple delete volunteer functionality
- Single change the status and multiple change the status volunteer functionality
- All rows should be checked when the header checkbox is selected.
- Refactored the code.
-  Tested the entire feature.

**Depending on the backend:-**

- [x] 1. Searching through table with Last Class Title, Last Class Batch.

- [

[2022-10-20 13:17] saquibaijaz commented on #617
The issue is for a feature (CHAT ROOM) which will be changed completely, so closing this issue.

[2022-10-20 13:17] #617 closed, assigned to Poonam-Singh-Bagh

[2022-10-20 13:37] Poonam-Singh-Bagh commented on #745
Complete in - 21/10

[2022-10-20 13:55] saquibaijaz opened #761 "Questions and Study Material not getting "Marked as Done" as expected"
1. The study material does not get "Marked as done" if we click NEXT for the first time. We either need to click NEXT again, click BACK, or close the module and then go to the same module; then only it is marked as done

2. The question, if answered correctly on the first attempt or after retry, or even if we see the explanation does not get the question "Marked as done", we need to click NEXT or

[2022-10-20 13:57] saquibaijaz commented on #625
This is related to Issue #761

[2022-10-21 10:07] kartiks26 commented on #761
1.GET progressTracking/${courseId}/completedCourseContentIds
2. POST assessment/${exerciseId}/student/result

[2022-10-21 10:11] kartiks26 commented on #761
refactor/assesment

[2022-10-21 12:01] Poonam-Singh-Bagh commented on #749
**Done**
1. List conversion
2. Displaying code in a structured way and  replace`<br>`  with `\n`

Working on Converting back the previous structure and saving the data into the backend

**Left sub-tasks -**
1. Convert the list back to the previous structure
2. Replace `\n` with`<br>`
3. Search for a way to remove the caption.

[2022-10-22 13:46] Poonam-Singh-Bagh commented on #749
**Done**
1. Converting back the previous structure and saving the data into the backend
2. Replace \n with<br>

**Left sub-tasks -**
1. Convert the list back to the previous structure
2. Search for a way to remove the caption.

[2022-10-23 10:03] kirithiv2000 commented on #750
the api is taking only less than 200ms.
I dont understand why you are calling the same api 5 times.
![Screenshot from 2022-10-23 15-28-05](https://user-images.githubusercontent.com/52394696/197386053-6e63a87b-4708-4d1a-8c15-d86bcc0822e4.png)
![Screenshot from 2022-10-23 15-28-34](https://user-images.githubusercontent.com/52394696/197386039-69ab3201-caf3-4d0e-b10e-1ca203927f87.png)![image](https://

[2022-10-26 12:47] Poonam-Singh-Bagh commented on #749
**Done**
1. Convert the list back to the previous structure

**Left sub-tasks -**
1. Search for a way to remove the caption.

**Backend**
1. `exercise/id` put API taking 10 sec to respond @kirithiv2000

[2022-10-27 07:04] Poonam-Singh-Bagh commented on #749
**Done**
1. Search for a way to remove the caption.

**Backend**
1. `exercise/id` put API taking 10 sec to respond

[2022-10-27 12:49] Poonam-Singh-Bagh commented on #749
**Done**
1. Added header and footer to edit mode

**Left sub-tasks from backend and frontend -**
1. latest updated time in course editor header

[2022-10-27 13:39] Poonam-Singh-Bagh commented on #745
Need to be fixed in VolunteerDB.

1. After clicking on the student name, we get their data in a table that table needs some radius fixes and the margin-top & bottom.
2. Change the status dialog box should have a radius and add pictures with the name.
3. Radius fix in generating the report box.
4. Tic right symbol is unavailable in filter language, and the status and button are missing
5.  Searchin

[2022-10-29 03:57] iamvaiibhav19 opened #772 "Volunteer Dashboard -- > Tutor Dashboard"
### Changes required -
- Change the reference of volunteer dashboard with tutor dashboard

[2022-10-30 07:24] jschanker opened #776 "Search functionality should be centralized and implemented using established node packages"
**Is your feature request related to a problem? Please describe.**
* There are a number of places in the codebase where search functionality is being implemented independently of each other (courses, filtering in tutor dashboard, etc.). In addition to unnecessarily duplicating code, it can lead to undesired non-uniform behavior. For example, a search for "some" might yield all results including th

[2022-10-30 07:34] jschanker opened #777 "Upgrade app to use latest versions of node packages"
**Is your feature request related to a problem? Please describe.**
Currently, there is an issue with `node-sass` if we don't specify a lower version of `node` in the dependencies. In addition, the versions of some of packages are quite old.

**Describe the solution you'd like**
Upgrade the codebase to use the latest stable versions of packages.

**Describe alternatives you've considered**
Address

[2022-10-31 08:49] itsomkathe opened #781 "Learning Track: Visible Content Menu"
On the learning track, the course content menu on the left should be visible always. [Details](https://app.clickup.com/t/2yefngz)
Work on the mentioned branch.

[2022-11-01 12:47] Poonam-Singh-Bagh commented on #749
**Done**
1. latest updated time in course editor header
2. Added table

**Issue**
1. if we are adding an image it's showing broken but the images which are coming from the backend are fine (need to fix this)

[2022-11-02 13:02] Poonam-Singh-Bagh commented on #749
**block**
1. Uploading Image (Need backend support @kirithiv2000

[2022-11-03 13:30] Poonam-Singh-Bagh commented on #749
**Feedback**

1. Add component icon should be on left side
2. Add highlighter marker
3. Pop up on cancel button and cross button
4. Image uploading error

[2022-11-03 14:22] komalahire commented on #745
1. Batch name in batch title and class title name in class title (For Python) / For English only class title name
2. Contained button for Selected Pathway
3. If selected multiple rows the header row becomes '-' checkbox, when click on '-' checkbox all selected row should be deselected
4. Rename last batch  to batch name
5. Last class date and title would be last happened class not batch last class

[2022-11-05 09:37] amansharmma commented on #745
- [x]  Contained button for Selected Pathway
- [x] If selected multiple rows the header row becomes '-' checkbox, when click on '-' checkbox all selected row should be deselected
- [x] Rename last batch to batch name
- [x] No combined data of Python and English (By default Python selected)
- [x] Change the header name volunteers to Tutors.
- [ ] CSV tabs would be - Volunteers, Python and English

[2022-11-05 15:00] jschanker commented on #777
Upgrading to React 18+ is particularly important for improving performance (See for example, https://dev.to/this-is-learning/automatic-batching-in-react-18-273h). There are a number of places where we perform multiple state updates upon receiving API responses and there will be a re-render for each update prior to React v18.

[2022-11-06 09:51] itsomkathe opened #789 "Search Feature on Back Not Working Properly"
**Describe the bug**
The search component on the header, when removing the text and clicking on the back button, again searches the previous query.

**Expected behavior**
After clicking on the back button it should go to the previous page.

[2022-11-06 14:30] jschanker commented on #789
@itsomkathe It seems to me that we would want to preserve this behavior, at least partially. For example, if the user typed in `python`, hit the Enter key and then typed in `english`, then if they clicked on the back button, we'd want them to go back to get the search results for `python`, right? If so, this should be an easy fix, mainly only `push` to the history when the value of the `key` prope

[2022-11-06 14:51] itsomkathe commented on #789
@jschanker But after every change in the textfield it pushes the word in history so that we make a GET request. So there is no need to hit enter for user. And yes the centralisation is under consideration. So as of now I will fix this as you are saying ie. Search only after enter key.

[2022-11-07 01:19] jschanker commented on #789
I'm not sure about what's best from a user's standpoint. It seems desirable to show matches with each key stroke so I'm not sure that we'd want to wait for the Enter key to be hit before we show the search results. On the other hand, if we show search results as the user types, they're less likely to hit the Enter key. As I'm sure you've seen, Google handles this by providing a dropdown of suggest

[2022-11-07 06:00] jschanker commented on #703
@amansharmma I've returned to this, but I have to think how to best factor out the commonality.

[2022-11-07 14:16] itsomkathe commented on #789
I've changed `history.push` to `history.replace`  as of now, as the latter is working better.
Later we will be implementing the search as per #776. I think we can find a better solution for this by discussing it with the UX/Product team.

[2022-11-07 14:37] #789 closed, assigned to itsomkathe

[2022-11-07 15:03] Poonam-Singh-Bagh commented on #703
@jschanker are you working on it?

[2022-11-07 15:24] Poonam-Singh-Bagh commented on #717
@itsomkathe any update on this?

[2022-11-07 15:32] itsomkathe commented on #717
Not yet. I think we should close the issue as of now. No inputs from any side.

[2022-11-07 16:47] jschanker commented on #703
@Poonam-Singh-Bagh Yes, I'm starting work on this issue again.

[2022-11-08 13:03] saquibaijaz commented on #584
@kartiks26 Please fix this issue.
Clicking on any item in the content list makes it move randomly; it shouldn't.

https://user-images.githubusercontent.com/111858763/200571887-9c86ae55-d0dd-438d-b49b-c8c834356124.mp4

[2022-11-09 06:41] itsomkathe commented on #584
@saquibaijaz, that's actually what he wanted. When we click on some of the last items, it scrolls so that the item moves to the middle of the list.

[2022-11-09 06:57] saquibaijaz commented on #584
@itsomkathe
First, all the items will not be able to move to the middle. Items at the very top and bottom will never move to the middle.
Secondly, as shown in the attached video, we want it to stay.

https://user-images.githubusercontent.com/111858763/200760262-70a82cf6-c9d3-40ba-8246-572a650c1d95.mp4

Cc: @amansharmma

[2022-11-09 07:48] saquibaijaz commented on #584
https://user-images.githubusercontent.com/111858763/200769482-004ef9e1-f9f1-48eb-a7f5-16b17008135e.mp4

https://user-images.githubusercontent.com/111858763/200769498-72ce175d-f713-4a6f-b5e5-24e1a7e5043f.mp4

@itsomkathe @amansharmma
Please check out these videos too.
On the desktop, using chrome, the mobile view works fine, but now working correctly on the phone.

[2022-11-09 11:23] Poonam-Singh-Bagh commented on #749
Everything done

**Left**
1. Design re-review
2. PR review

[2022-11-09 15:53] Poonam-Singh-Bagh commented on #745
@kirithiv2000 can you please write the ETA for the things that depend on the backend?

[2022-11-10 08:46] Poonam-Singh-Bagh opened #796 "Volunteer Automation (Availability time)"
If the user doesn't select time, then the time state won't get updated and when the user completes the flow and click on `Go To Dashboard` button on the last page, the user will get an error.

[2022-11-10 09:05] Poonam-Singh-Bagh opened #797 "Firebase issue in localhost in Volunteer Automation"
Developers getting errors when clicking on `Get OTP` button in `Volunteer Automation` in localhost.

**Additional context**
@saquibaijaz It doesn't required testing as the issue is in local only

[2022-11-10 12:06] saquibaijaz commented on #797
@Poonam-Singh-Bagh, please close the issue if this does not require testing and move it to "Ready for Deployment."

[2022-11-10 15:09] Poonam-Singh-Bagh commented on #745
Backend ETA - 17/10 in worst scenario

[2022-11-12 06:04] jschanker opened #800 "Investigate React Styleguidist for Documentation"
**Is your feature request related to a problem? Please describe.**
We need our components to have a single purpose and this needs to be well-documented so we can have more maintainable code that new contributors can easily understand.

**Describe the solution you'd like**
Use React Styleguidist for Documentation.

**Describe alternatives you've considered**
Other documentation generators

**Additi

[2022-11-12 16:46] itsomkathe commented on #776
@jschanker I searched for alternative packages, but this seems to be the latest. I will implement a class for searching based on all attributes.

[2022-11-13 03:33] jschanker opened #802 "Hack used to allow clicking of button when menu is open in `DropDownMenu` component"
**Describe the bug**
A hack was used in commit https://github.com/navgurukul/bhanwari-devi/pull/740/commits/30d54fb06ace07fef3157165c2b78ae0d8592f54 to get around the presentation layer covering the button when the menu is open. We should look for alternatives later. It seems the MUI team is working on a component to partially accomplish what we want, which we may be able to use instead.

See: htt

[2022-11-14 09:14] jschanker commented on #703
@Poonam-Singh-Bagh @saquibaijaz Now fixed to use common `DropDownMenu` and `TextButtonDropDownMenu` components for User/Switch Roles menus (but not deployed to `dev` server, available at https://bhanwari-devi-mc9iqsoyx-navgurukul-meraki.vercel.app/). Works for the sidebar navigation with the `Switch Views` as well although there's no left margin for the dropdown in this case. Still need to incorpo

[2022-11-14 16:24] jschanker opened #803 "Inconsistent menus in mobile sidebar"
**Describe the bug**
The Change Roles/Public menu dropdowns aren't consistent in the sidebar. The public ones gradually show/hide their dropdowns (accordion) on clicks but not on hovers and stay in the flow of the sidebar. The change roles view one appears in its own dropdown modal and also responds to hovers. This is because the public menus are handled with different components when the sidebar

[2022-11-16 08:18] itsomkathe commented on #776
@jschanker, take a look at this [sandbox](https://codesandbox.io/s/trie-search-demo-9bfikh?file=/src/index.js). I think this is the behavior that we want.

[2022-11-16 09:32] jschanker commented on #776
@itsomkathe Looks good to me for basic search. In the future, we may want to add options such as limiting the number of results, only including results that start with the search word, sorting by the most relevant ones, etc.

Also, something we should really start doing more is documenting using JSDoc and including unit tests, so I'd recommend doing that for `SearchService`, if you have the time.

[2022-11-16 11:55] itsomkathe opened #805 "Volunteer: Language Filter Error"
**Describe the bug**
In the volunteer dashboard, when selecting any language filter results in the error.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `/volunteer`
2. Click on the `Filter` button
3. Select any of the languages
4. Click `Apply`

**Expected behavior**
It should not show an error.

**Screenshots**

![Capture](https://user-images.githubusercontent.com/34516916/202172346

[2022-11-17 10:11] itsomkathe commented on #776
@jschanker I've added the documentation for the `SearchService`. For unit tests, I don't really have much idea about them.

[2022-11-20 08:21] jschanker commented on #776
@itsomkathe All you would have to do is create a `SearchService.test.js` file and provide example inputs with expected outputs for `search` using https://jestjs.io/docs/expect. I wrote about this and unit tests for components in general here: https://github.com/navgurukul/bhanwari-devi/pull/471#issuecomment-1162662167. It's actually easier to do testing here since you're not testing UI. See also h

[2022-11-20 17:09] jschanker opened #811 "Hack used to remove caption for Content Editor"
**Describe the bug**
There doesn't seem to be a config option in Editor,js's `ImageTool` to remove captions. See https://github.com/editor-js/image/issues/29

**Additional context**

[2022-11-21 12:07] saquibaijaz commented on #755
1. We want preview of the certificate as an image
2. Download button should be separate

And dependant on the backend.

[2022-11-21 12:41] saquibaijaz commented on #703
@jschanker
we need to fix this scrollbar at the side of the dropdown
Cc: @Poonam-Singh-Bagh
![hover](https://user-images.githubusercontent.com/111858763/203057857-d84f0eb8-eb39-4b60-9471-edf337e2cd5b.png)

[2022-11-21 16:24] jschanker commented on #703
@saquibaijaz Related to this is https://github.com/navgurukul/bhanwari-devi/issues/803 where the user menu also has a scrollbar. When it's in the sidebar, do we want it to be in the page flow and expand/contract on clicks only regardless of whether the device is a touchscreen or not? This would be for consistency with the Learn menu.

![image](https://user-images.githubusercontent.com/9159008/2017

[2022-11-22 07:48] kartiks26 commented on #584
@saquibaijaz  This issue is faced by many people
https://github.com/mui/material-ui/issues/16942
https://user-images.githubusercontent.com/16666234/106383439-02bd2200-63d7-11eb-8f2b-b76bc426d3cb.mp4

[2022-11-22 07:51] kartiks26 commented on #584
not got any updates from official documents
will need to use the other component but it will might restrict swipeable close

[2022-11-22 07:51] kartiks26 commented on #584
If we tend to use same component we can make its position left or right still it will work

[2022-11-23 12:34] saquibaijaz commented on #796
1. The problem of mobile number verification is still there.
- The user verifies the mobile number and moves to the next page. If the user returns to the mobile verification screen, he cannot move forward without verifying the mobile number again.

2. If the time is not selected, and we go to the last screen of the flow, Clicking on the "Goto Dashboard" button gives an error, and according to the

[2022-11-23 12:35] saquibaijaz commented on #796
@Poonam-Singh-Bagh Please see above

[2022-11-23 13:04] saquibaijaz commented on #703
@jschanker
It should be like this and should be everywhere. No Scrollbar.

https://user-images.githubusercontent.com/111858763/203553853-2651bfdd-f129-4e53-94ba-80ed11f740ed.mp4

[2022-11-24 09:50] komalahire commented on #665
@saquibaijaz  Have some doubts and need some clarity on that.

[2022-11-24 11:32] saquibaijaz commented on #750
@Poonam-Singh-Bagh
Check this out
![bhanwari-devi vercel app_pathway_1 (1)](https://user-images.githubusercontent.com/111858763/203774007-7a748de1-9f6a-4dbe-9eaa-c28e447df471.png)

[2022-11-25 19:33] Poonam-Singh-Bagh commented on #749
- [x]  Green Colour should be used (consistent with Meraki) (Current scenario is, frontend uses green colour, backend uses orange with dark brown background, and content editors can use yellow)
- [x]  Highlighting will be only done by content editors. Those Highlighting which are done from the backend, should be editable
- [x]  Added color config for text

[2022-11-29 05:10] itsomkathe commented on #776
@jschanker seems like `jest` is also installed inside `react-scripts`, which is why it gave me an error while running the test when I installed `jest` again.

![Capture2](https://user-images.githubusercontent.com/34516916/204444029-cbc1df38-55d5-4548-8829-d26a3d0ffa66.PNG)
Then I uninstalled the version which I had installed (latest)

![Capture](https://user-images.githubusercontent.com/34516916/2

[2022-11-30 11:09] saquibaijaz commented on #606
https://user-images.githubusercontent.com/111858763/204781559-50e753d6-3518-438e-98a8-97deff9c8af8.mp4

@Poonam-Singh-Bagh
Please put a check n the length of a name. Reasonable and acceptable names should not exceed 70 characters.
![image](https://user-images.githubusercontent.com/111858763/204780943-019bf29c-c910-44fd-9768-6cf9849bd5b0.png)

[2022-11-30 11:13] saquibaijaz commented on #606
@Poonam-Singh-Bagh
This can be ignored for now, but later on, a check should be imposed on the length of the name.

[2022-11-30 17:53] Poonam-Singh-Bagh commented on #745
Tested Tutor Dashboard entirely and got some issues

- [ ]  If selected multiple rows the header row becomes '-' checkbox, when click on '-' checkbox all selected row should be deselected
- [ ]  When selecting the header box to select all the rows, header box getting checked instead of`[-]`
![Screenshot from 2022-11-30 22-42-35](https://user-images.githubusercontent.com/67674096/204869802-1593ca15